body {
    background: #efefef;
}

#canvas {
    border-radius: 400px;
    margin-top: 200px;
    padding: 10px;
    background: #fff;
    border: 1px dashed cornflowerblue;
}

body .center {
    display: block;
    margin: auto auto;
}