body {
    background: #eee;
}

.floatingControls {
    position: absolute;
    left: 150px;
    top: 100px;
    width: 300px;
    padding: 20px;
    border: thin solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 200, 0.1);
    color: blue;
    font: 14px Arial;
    box-shadow: rgba(0, 0, 0, 0.2) 6px 6px 8px;
    display: none;
}

.floatingControls p {
    margin-top: 0;
    margin-bottom: 20px;

}

#controls {
    position: absolute;
    left: 25px;
    top: 25px;
}

#canvas {
    background: #fff;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}